<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/attention.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/attention.js" defer></script>
</head>

<body>

    <!-- headerWrap -->
  <header class="headerWrap">
    <h1 class="tit">我关注的公司</h1>
    <a href="./user.html" class="back">
      <span>&lt;</span>
    </a>
  </header>

  <!-- navWrap -->
  <div class="navWrap">
    <nav class="tab">
      <li class="tab-item active">公司</li>
      <li class="tab-item">职位</li>
    </nav>
  </div>

  <!-- contentWrap -->
  <div class="contentWrap">
      <!-- content -->
    <div class="content">
      
      <!-- 如果用户没有关注任何数据 -->
      <div class="emptyWrap">
        <p class="tips">关注公司后，第一时间收到该公司发布的与你有关的职位，快去关注吧</p>
        <a href="./company.html" class="addAttention">去关注</a>
      </div>

    </div>
  </div>

</body>

</html>