<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/iconfont1.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/chat.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/chat.js" defer></script>
</head>

<body>

  <!-- headerWrap -->
  <header class="headerWrap">
    <a href="./jobDetails.html" class="back">
      <span>&lt;</span>
    </a>
    <a href="javascript:;" class="set">
      <span class="iconfont icon-shezhi"></span>
    </a>
    <div class="center">
      <h1 class="name">罗小白</h1>
      <p class="position">有赞 ·web前端开发工程师</p>
    </div>

  </header>

  <!-- navWrap -->
  <div class="navWrap">
      <!-- list -->
    <nav class="list">
        <!-- list-item -->
      <li class="list-item">
        <span class="iconfont icon-dianhuahaoma"></span>
        <span>电话号</span>
      </li>
      <li class="list-item">
        <span class="iconfont icon-weixin"></span>
        <span>微信号</span>
      </li>
      <li class="list-item">
        <span class="iconfont icon-jianli"></span>
        <span>发简历</span>
      </li>
      <li class="list-item nofeeling">
        <span class="iconfont icon-guanbi"></span>
        <span>不感兴趣</span>
      </li>
    </nav>
  </div>


  <!-- contentWrap -->
  <div class="contentWrap">
    <!-- content -->
    <div class="content">
      <!-- 工作详情 -->
      <li class="jobDetail">
        <!-- 标题 -->
        <h3 class="mainTit">执行者 <span class="salary fr">15-30k</span></h3>
        <!-- info -->
        <p class="info">有赞会馆&nbsp;&nbsp;已上市</p>
        <!-- tagsWrap -->
        <nav class="tagsWrap">
          <span class="tag-item">龙游</span>
          <span class="tag-item">1-3年</span>
          <span class="tag-item">本科</span>
        </nav>
        <!-- infoCon -->
        <div class="infoCon">
          <p>罗小黑战记世界中的重要人物，罗小黑的师父，<br>
            妖灵会馆的最强执行者，人类最强者。<br>
            虽是人类，但其的强大却更加接近于妖精。
          </p>
        </div>
         <!-- list -->
          <nav class="list">
            <span class="list-item">javascript</span>
            <span class="list-item">node.js</span>
            <span class="list-item">typescript</span>
          </nav>
          <!-- titWrap -->
          <p class="titWrap clear">
            <img src="../static/images/avar02.jpg" class="titAvar">
            <span>小白·web执行者</span>
          </p>
          <!-- time -->
          <p class="time">
            <span class="date">9月15日</span>
            <span class="hour">20:46</span>
            <span>向你发起的沟通</span>
          </p>
      </li>
      <!-- 对话开始 -->
      <li class="left">
        <img src="../static/images/avar02.jpg" class="avar">
        <span>
          你好，我会馆正在龙游寻找具有1-3年工作经验的执行者，
          薪资面谈，能求一份你的简历吗?
        </span>
      </li>
      <li class="right">
          <img src="../static/images/avar01.jpg" class="avar">
        <span>你好啊,我是机器人</span>
      </li>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer clear">
    <!-- 常用语 -->
    <div class="usefulExpress fl">
      <span class="words">常用语</span>
    </div>

    <!-- 输入框 --> 
    <div class="inputBox fl">
      <input type="text" class="input" placeholder="新消息">
    </div>

    <!-- 右边浮动的 笑脸 和 更多 -->
    <div class="moreWrap fr">
      <!-- 笑脸 -->
      <span class="iconfont icon-buoumaotubiao49 smileFace"></span>
      <!-- 更多 -->
      <span class="iconfont icon-21 more"></span>
    </div>

  </footer>

</body>

</html>