<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/border.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/footer01.css">
  <link rel="stylesheet" href="../static/css/company.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/company.js" defer></script>
</head>

<body>
  <!-- headerWrap -->
  <header class="headerWrap">
    <div class="title fl">公司</div>
    <div class="iconWrap fr">
      <a href="javascript:;" class="iconfont icon-sousuo"></a>
      <a href="javascript:;" class="iconfont icon-zelvxuanzefeiyongdaosanjiaoxingfandui"></a>
    </div>
  </header>

  <!-- contentWrap -->
  <main class="contentWrap">
    <!-- content -->
    <nav class="content">
      <!-- content-item -->
      <li class="content-item">
        <a href="javascript:;" class="clear">
          <!-- companyAvar -->
          <div class="companyAvar fl">
            <img src="../static/images/avar03.jpeg">
          </div>
          <!-- companyInfo -->
          <div class="companyInfo fl">
            <!-- comName -->
            <h2 class="comName">阿里巴巴集团</h2>
            <!-- info -->
            <p class="info">杭州市&nbsp;&nbsp;余杭区</p>
            <!-- infoTags -->
            <p class="infoTags">
              <span class="tag">不需要融资</span>
              <span class="tag"><i class="nums">10000</i>人以上</span>
              <span class="tag">互联网</span>
            </p>
            <!-- jobsWrap -->
            <div class="jobsWrap clear">
              <!-- jobdescription -->
              <p class="jobdescription fl">热招: <span class="jobname">前端工程师(NodeJS)
                </span>等<span class="jobnum">8666</span>个职位</p>
              <!-- more -->
              <span class="more fr">&gt;</span>
            </div>
          </div>
        </a>
      </li>
      <li class="content-item">
        <a href="javascript:;" class="clear">
          <!-- companyAvar -->
          <div class="companyAvar fl">
            <img src="../static/images/avar01.jpg">
          </div>
          <!-- companyInfo -->
          <div class="companyInfo fl">
            <!-- comName -->
            <h2 class="comName">阿里巴巴集团</h2>
            <!-- info -->
            <p class="info">杭州市&nbsp;&nbsp;余杭区</p>
            <!-- infoTags -->
            <p class="infoTags">
              <span class="tag">不需要融资</span>
              <span class="tag"><i class="nums">10000</i>人以上</span>
              <span class="tag">互联网</span>
            </p>
            <!-- jobsWrap -->
            <div class="jobsWrap clear">
              <!-- jobdescription -->
              <p class="jobdescription fl">热招: <span class="jobname">前端工程师(NodeJS)
                </span>等<span class="jobnum">8666</span>个职位</p>
              <!-- more -->
              <span class="more fr">&gt;</span>
            </div>
          </div>
        </a>
      </li>
      <li class="content-item">
        <a href="javascript:;" class="clear">
          <!-- companyAvar -->
          <div class="companyAvar fl">
            <img src="../static/images/avar02.jpg">
          </div>
          <!-- companyInfo -->
          <div class="companyInfo fl">
            <!-- comName -->
            <h2 class="comName">阿里巴巴集团</h2>
            <!-- info -->
            <p class="info">杭州市&nbsp;&nbsp;余杭区</p>
            <!-- infoTags -->
            <p class="infoTags">
              <span class="tag">不需要融资</span>
              <span class="tag"><i class="nums">10000</i>人以上</span>
              <span class="tag">互联网</span>
            </p>
            <!-- jobsWrap -->
            <div class="jobsWrap clear">
              <!-- jobdescription -->
              <p class="jobdescription fl">热招: <span class="jobname">前端工程师(NodeJS)
                </span>等<span class="jobnum">8666</span>个职位</p>
              <!-- more -->
              <span class="more fr">&gt;</span>
            </div>
          </div>
        </a>
      </li>
      <li class="content-item">
        <a href="javascript:;" class="clear">
          <!-- companyAvar -->
          <div class="companyAvar fl">
            <img src="../static/images/avar03.jpeg">
          </div>
          <!-- companyInfo -->
          <div class="companyInfo fl">
            <!-- comName -->
            <h2 class="comName">阿里巴巴集团</h2>
            <!-- info -->
            <p class="info">杭州市&nbsp;&nbsp;余杭区</p>
            <!-- infoTags -->
            <p class="infoTags">
              <span class="tag">不需要融资</span>
              <span class="tag"><i class="nums">10000</i>人以上</span>
              <span class="tag">互联网</span>
            </p>
            <!-- jobsWrap -->
            <div class="jobsWrap clear">
              <!-- jobdescription -->
              <p class="jobdescription fl">热招: <span class="jobname">前端工程师(NodeJS)
                </span>等<span class="jobnum">8666</span>个职位</p>
              <!-- more -->
              <span class="more fr">&gt;</span>
            </div>
          </div>
        </a>
      </li>
      <li class="content-item">
        <a href="javascript:;" class="clear">
          <!-- companyAvar -->
          <div class="companyAvar fl">
            <img src="../static/images/avar01.jpg">
          </div>
          <!-- companyInfo -->
          <div class="companyInfo fl">
            <!-- comName -->
            <h2 class="comName">阿里巴巴集团</h2>
            <!-- info -->
            <p class="info">杭州市&nbsp;&nbsp;余杭区</p>
            <!-- infoTags -->
            <p class="infoTags">
              <span class="tag">不需要融资</span>
              <span class="tag"><i class="nums">10000</i>人以上</span>
              <span class="tag">互联网</span>
            </p>
            <!-- jobsWrap -->
            <div class="jobsWrap clear">
              <!-- jobdescription -->
              <p class="jobdescription fl">热招: <span class="jobname">前端工程师(NodeJS)
                </span>等<span class="jobnum">8666</span>个职位</p>
              <!-- more -->
              <span class="more fr">&gt;</span>
            </div>
          </div>
        </a>
      </li>
      <li class="content-item">
        <a href="javascript:;" class="clear">
          <!-- companyAvar -->
          <div class="companyAvar fl">
            <img src="../static/images/avar02.jpg">
          </div>
          <!-- companyInfo -->
          <div class="companyInfo fl">
            <!-- comName -->
            <h2 class="comName">阿里巴巴集团</h2>
            <!-- info -->
            <p class="info">杭州市&nbsp;&nbsp;余杭区</p>
            <!-- infoTags -->
            <p class="infoTags">
              <span class="tag">不需要融资</span>
              <span class="tag"><i class="nums">10000</i>人以上</span>
              <span class="tag">互联网</span>
            </p>
            <!-- jobsWrap -->
            <div class="jobsWrap clear">
              <!-- jobdescription -->
              <p class="jobdescription fl">热招: <span class="jobname">前端工程师(NodeJS)
                </span>等<span class="jobnum">8666</span>个职位</p>
              <!-- more -->
              <span class="more fr">&gt;</span>
            </div>
          </div>
        </a>
      </li>
    </nav>
  </main>

  <!-- footerWrap -->
  <footer class="footerWrap border-bottom border-top">
    <nav class="tabContent">
      <li class="tab-item">
        <a href="./jobs.html">
          <span class="iconfont icon-suoshuzhiwei"></span>
          <span class="con">职位</span>
        </a>
      </li>
      <li class="tab-item active">
        <a href="./company.html">
          <span class="iconfont icon-gongsimingcheng"></span>
          <span class="con">公司</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./contract.html">
          <span class="iconfont icon-xiaoxi"></span>
          <span class="con unread">消息</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./user.html">
          <span class="iconfont icon-wode"></span>
          <span class="con">我的</span>
        </a>
      </li>
    </nav>
  </footer>
</body>

</html>