<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/border.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/contract.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/contract.js" defer></script>
</head>

<body>
  <!-- headerWrap -->
  <header class="headerWrap">
    <!-- titleWrap -->
    <nav class="titleWrap fl">
      <li class="title-item now">聊天</li>
      <li class="title-item unread">互动</li>
    </nav>
    <!-- iconWrap -->
    <div class="iconWrap fr">
      <span class="iconfont icon-tongzhi"></span>
    </div>
  </header>

  <!-- chat -->
  <div class="chat">

    <!-- chatHead -->
    <div class="chatHead">
      <!-- person -->
      <div class="person fl">联系人</div>
      <!-- deal -->
      <div class="deal fr">
        <span>极速处理</span>
      </div>
    </div>


    <!-- contentWrap chat-->
    <main class="contentWrap">
      <!-- content -->
      <nav class="content">
        <!-- content-item -->
        <!-- newJobs 发布了新职位 -->
        <li class="content-item newJobs clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/add.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">紫牛公社&nbsp;发布了新职位</span>
              <span class="date">14:49</span>
            </h3>
            <p class="words">43位Boss新发布</p>
          </div>
        </li>
        <!-- watched  boss 查看了您 -->
        <li class="content-item watched clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/see.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">周竞云&nbsp;查看了您</span>
              <span class="date">6月27日</span>
            </h3>
            <p class="words">3位boss查看</p>
          </div>
        </li>
        <li class="content-item clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/avar03.jpeg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">三笠</span>
              <span class="info">进击的巨人 * web前端开发工程师</span>
              <span class="date">8月08日</span>
            </h3>
            <p class="words">你好，我公司正在深圳寻找具有巨人抵御经验的士兵</p>
          </div>
        </li>
        <li class="content-item clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/avar01.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">三笠的妹妹</span>
              <span class="info">桃源 * web前端开发工程师</span>
              <span class="date">5月26日</span>
            </h3>
            <p class="words">你好，我们桃花源正在接受隐居的士兵</p>
          </div>
        </li>
        <li class="content-item clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/avar02.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">千寻</span>
              <span class="info">神影 * web前端开发工程师</span>
              <span class="date">3月10日</span>
            </h3>
            <p class="words">你好，我公司正在杭州寻找具有3年工作经验的前端工程师</p>
          </div>
        </li>
        <li class="content-item clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/avar03.jpeg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">三笠</span>
              <span class="info">进击的巨人 * web前端开发工程师</span>
              <span class="date">8月08日</span>
            </h3>
            <p class="words">你好，我公司正在深圳寻找具有巨人抵御经验的士兵</p>
          </div>
        </li>
        <li class="content-item clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/avar01.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">三笠的妹妹</span>
              <span class="info">桃源 * web前端开发工程师</span>
              <span class="date">5月26日</span>
            </h3>
            <p class="words">你好，我们桃花源正在接受隐居的士兵</p>
          </div>
        </li>
        <li class="content-item clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/avar02.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">千寻</span>
              <span class="info">神影 * web前端开发工程师</span>
              <span class="date">3月10日</span>
            </h3>
            <p class="words">你好，我公司正在杭州寻找具有3年工作经验的前端工程师</p>
          </div>
        </li>
        <li class="content-item watched clear">
          <!-- imgWrap -->
          <div class="imgWrap fl">
            <img src="../static/images/see.jpg">
          </div>
          <!-- infoWrap -->
          <div class="infoWrap fl">
            <h3 class="title">
              <span class="name">周竞云&nbsp;查看了您</span>
              <span class="date">6月27日</span>
            </h3>
            <p class="words">3位boss查看</p>
          </div>
        </li>
      </nav>
    </main>
  </div>



  <!-- interact -->
  <div class="interact">

    <!-- interactHead -->
    <nav class="interactHead clear">
      <li class="inter-item">
        <span class="tag">对我感兴趣</span>
      </li>
      <li class="inter-item">
        <span class="tag">看过我</span>
      </li>
      <li class="inter-item">
        <span class="tag active">新职位</span>
        <nav class="selection clear">
          <li class="selec-item active">全部</li>
          <li class="selec-item">深圳</li>
          <li class="selec-item">杭州</li>
      </nav>
    </li>
   </nav>

   <!-- contentWrap -->
   <main class="contentWrap">
    <!-- content -->
    <nav class="content">
      <li class="cont-item">
        <!-- title -->
        <h3 class="title">web前端</h3>
        <!-- info -->
        <p class="info">神仙木源科技，未融资</p>
        <!-- infoTagsWrap -->
        <nav class="infoTagsWrap clear">
          <li class="infotag-item">深圳 南山区</li>
          <li class="infotag-item">实习生</li>
          <li class="infotag-item">本科</li>
        </nav>
        <!-- userWrap -->
        <div class="userWrap">
           <a href="javascript:;" class="userAvar">
            <img src="../static/images/avar01.jpg">
          </a>
          <span class="userName">毕女士 * 人士HR</span>
        </div>
        <!-- sarary -->
         <div class="sarary">6-8k</div>
      </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar01.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar01.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar01.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    <li class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <a href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </a>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </li>
    </nav>
   </main>


  </div>


  <!-- footerWrap -->
  <footer class="footerWrap border-bottom border-top">
    <nav class="tabContent">
      <li class="tab-item">
        <span class="iconfont icon-suoshuzhiwei"></span>
        <span class="con">职位</span>
      </li>
      <li class="tab-item">
        <span class="iconfont icon-gongsimingcheng"></span>
        <span class="con">公司</span>
      </li>
      <li class="tab-item">
        <span class="iconfont icon-xiaoxi"></span>
        <span class="con unread">消息</span>
      </li>
      <li class="tab-item">
        <span class="iconfont icon-wode"></span>
        <span class="con">我的</span>
      </li>
    </nav>
  </footer>
</body>

</html>