<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/entry.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/entry.js" defer></script>
</head>

<body>
  <!-- wrap -->
  <div class="wrap">
    <p class="info">用聊天的方式找工作</p>
    <div class="logoWrap">
      <h1 class="appName">BOSS直聘</h1>
      <p class="copyRight">c&nbsp;&nbsp;2019&nbsp;&nbsp;BOSS直聘&nbsp;&nbsp;All rights reserved.</p>
    </div>
  </div>
</body>

</html>