<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/iconfont1.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/jobDetails.css">


  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <!-- <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=UIKG9CWvuyPoS3FixF8arSxzZa1zeFi7" defer></script> -->
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/jobDetails.js" defer></script>
</head>

<body>

  <!-- headerWrap -->
  <header class="headerWrap border clear">
    <a href="./jobs.html" class="back fl">
      <span>&lt;</span>
    </a>
    <p class="fr">
      <a href="javascript:;" class="collect iconfont icon-guanzhu"></a>
      <a href="javascript:;" class="share iconfont icon-icon1"></a>
      <a href="javascript:;" class="warn iconfont icon-bangzhu"></a>
    </p>
  </header>

  <!-- contentWrap -->
  <div class="contentWrap">
    <!-- content -->
    <div class="content">

      <!-- generalInfo 职位大致信息-->
      <div class="generalInfo">
        <h3 class="tit">前端<span class="price fr">4-8k</span></h3>

        <p class="info">
          <span class="iconfont icon-zhuye"></span>
          <span>深圳·水贝</span>
          <span class="iconfont icon-accessories"></span>
          <span>经验不限</span>
          <span class="iconfont icon-jianli"></span>
          <span>大专</span>
        </p>
      </div>
      <!-- interviewInfo 招聘者信息-->
      <div class="interviewInfo">
        <a href="javascript:;" class="clear">
          <!-- 左边头像 -->
          <img src="../static/images/avar03.jpeg" class="avar fl">

          <!-- 右边信息 -->
          <div class="interviewCon fl">
            <!-- 名字 -->
            <p class="nameWrap">
              <span class="name">罗小白</span>
              <i class="mark">刚刚活跃</i>
            </p>
            <!-- 介绍 -->
            <p class="intro">人与妖的国界</p>
          </div>

          <span class="iconfont icon-iconfontjiantou4 fr more"></span>

        </a>
      </div>

      <!-- jobDetails 职位详情 -->
      <div class="jobDetails">
        <dl>
          <dt>职位详情</dt>
          <dd>1、三年以上工作经验，（学历要求学信网可查）；</dd>
          <dd>2、精通Html， css，JS，熟悉es6新语法优先，熟练使用jq，对h5新特性和css3新特性有一定了解；</dd>
          <dd>3、熟悉vue框架，js基础优秀的话，熟悉react或者angular也可以。对webpack有一定了解，
            团队介绍</dd>
          <dd>4、对大型网站架构有丰富经验者优先，有成功作品者优先；</dd>
          <dd>5、了解后端技术栈，熟悉一门后端语言（Node/Python/GO/JAVA等），熟悉与后端的协作模式；</dd>
          <dd>6、有跨端开发经验（React Native/Weex/Flutter/uni-app）优先；</dd>
          <dd>7、熟悉一种构建工具（Webpack/FIS）；</dd>
        </dl>
      </div>

      <!-- requireTags 职位要求标签-->
      <div class="requireTags">
        <span>前端开发</span>
        <span>JavaScript</span>
        <span>HTML</span>
        <span>CSS</span>
        <span>PHP</span>
        <span>全栈开发</span>
        <span>Node.js</span>
      </div>

      <!-- companyInfoEntry 公司信息入口 -->
      <div class="companyInfoEntry">
        <a href="javascript:;" class="clear">
          <!-- 公司头像 -->
          <span class="comAvar fl">会馆</span>
          <!-- 公司信息 -->
          <div class="comInfoWrap fl">
            <h4 class="comName">空间系会馆</h4>
            <p class="comIntro"><span>0-20人</span><span>·</span><span>计算机软件</span></p>
          </div>
          <!-- 右箭头 -->
          <span class="iconfont icon-iconfontjiantou4 fr more"></span>
        </a>
      </div>

      <!-- companyAddr 公司地址 -->
      <div class="companyAddr">
        <!-- 地图实例 需要开启服务器-->
        <!-- <div id="allmap"></div> -->
        <!-- 地点 -->
        <div class="addrNameWrap">
          <p class="workSpace">工作地点</p>
          <p class="workName">深圳西部硅谷</p>
        </div>

      </div>

      <!-- warmTips 温馨提示 -->
      <div class="warmTips">
        <p class="tipTit"><span class="iconfont icon-bangzhu"></span><span>温馨提示</span></p>
        <p class="tipCon">该Boss承诺名下所有职位不向您收费，如有不实，请立即举报。</p>
      </div>

      <!-- powerWrap 竞争力分析 -->
      <div class="powerWrap clear">
        <p class="top"><span class="fl">你的竞争力分析</span><a href="javascript:;" class="fr">使用竞争力分析器<i class="iconfont icon-iconfontjiantou4 fr more"></i></a></p>
        <p class="bottom">近90天共有<span class="nums">30</span>个牛人沟通过该职位，相比他们，你的综合竞争力排名为第<span class="rank">3</span>名</p>
      </div>

    </div>
  </div>

  <!-- footerWrap -->
  <div class="footerWrap">
    <a href="./chat.html" class="communication">立即沟通</a>
  </div>

</body>

</html>