<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/border.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/jobs.css">

  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/jobs.js" defer></script>
</head>

<body>
  <!-- headerWrap -->
  <header class="headerWrap">
    <!-- tagsWrap -->
    <div class="tagScroll">
      <nav class="tagsWrap">
        <li class="tag-item active">web前端</li>
        <li class="tag-item">web前端</li>
        <li class="tag-item">web前端</li>
        <li class="tag-item">web前端</li>
        <li class="tag-item">web前端</li>
      </nav>
    </div>
    <!-- iconWrap -->
    <div class="iconWrap">
      <!-- addTag -->
      <a href="javascript:;" class="addTag iconfont icon-tianjia"></a>
      <!-- line -->
      <span class="line"></span>
      <!-- search -->
      <a href="javascript:;" class="search iconfont icon-sousuo"></a>
    </div>
  </header>

  <!-- navWrap -->
  <nav class="navWrap border-bottom clear">
    <!-- leftNav -->
    <nav class="leftNav fl">
      <li class="nav-item active">推荐</li>
      <li class="nav-item">最新</li>
    </nav>
    <!-- rightNav -->
    <nav class="rightNav fr">
      <li class="nav-item city">
        <span>杭州</span>
      </li>
      <li class="nav-item select">
        <span>筛选</span>
      </li>
    </nav>
  </nav>

  <!-- contentWrap -->
  <main class="contentWrap">
    <!-- content -->
    <nav class="content">
      <a href="./jobDetails.html" class="cont-item">
        <!-- title -->
        <h3 class="title">web前端</h3>
        <!-- info -->
        <p class="info">神仙木源科技，未融资</p>
        <!-- infoTagsWrap -->
        <nav class="infoTagsWrap clear">
      <li class="infotag-item">深圳 南山区</li>
      <li class="infotag-item">实习生</li>
      <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div class="userAvar">
        <img src="../static/images/avar01.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar01.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar01.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar01.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar02.jpg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    <a  href="./jobDetails.html" class="cont-item">
      <!-- title -->
      <h3 class="title">web前端</h3>
      <!-- info -->
      <p class="info">神仙木源科技，未融资</p>
      <!-- infoTagsWrap -->
      <nav class="infoTagsWrap clear">
    <li class="infotag-item">深圳 南山区</li>
    <li class="infotag-item">实习生</li>
    <li class="infotag-item">本科</li>
    </nav>
    <!-- userWrap -->
    <div class="userWrap">
      <div href="javascript:;" class="userAvar">
        <img src="../static/images/avar03.jpeg">
      </div>
      <span class="userName">毕女士 * 人士HR</span>
    </div>
    <!-- sarary -->
    <div class="sarary">6-8k</div>
    </a>
    </nav>
  </main>

  <!-- footerWrap -->
  <footer class="footerWrap border-bottom border-top">
    <nav class="tabContent">
      <li class="tab-item active">
        <a href="./jobs.html">
          <span class="iconfont icon-suoshuzhiwei"></span>
          <span class="con">职位</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./company.html">
          <span class="iconfont icon-gongsimingcheng"></span>
          <span class="con">公司</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./contract.html">
          <span class="iconfont icon-xiaoxi"></span>
          <span class="con unread">消息</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./user.html">
          <span class="iconfont icon-wode"></span>
          <span class="con">我的</span>
        </a>
      </li>
    </nav>
  </footer>
</body>

</html>