<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/iconfont1.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/set.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/set.js" defer></script>
</head>

<body>

  <!-- headerWrap -->
  <header class="headerWrap border">
    <h1 class="tit">设置</h1>
    <a href="./user.html" class="back">
      <span>&lt;</span>
    </a>
  </header>

  <!-- contentWrap -->
  <div class="contentWrap">
    <!-- content -->
    <div class="content">

      <!-- categoryWrap -->
      <nav class="categoryWrap">
        <!-- cate-item -->
        <li class="cate-item">
          <a href="javascript:;" class="clear">
            <!-- name -->
            <div class="name fl">账号与绑定</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item">
          <a href="javascript:;" class="clear">
            <!-- name -->
            <div class="name fl">通知与提醒</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item border">
          <a href="javascript:;" class="clear">
            <!-- name -->
            <div class="name fl">隐私设置</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item border">
          <a href="javascript:;" class="clear">
            <!-- name -->
            <div class="name fl">直直红包设置</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item border">
          <a href="./attention.html" class="clear">
            <!-- name -->
            <div class="name fl">打招呼语</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item">
          <a href="javascript:;" class="clear">
            <!-- name -->
            <div class="name fl">帮助与反馈</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item border">
          <a href="javascript:;" class="clear">
            <!-- name -->
            <div class="name fl">关于BOSS直聘</div>
            <!-- info -->
            <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
          </a>
        </li>
        <li class="cate-item border">
            <a href="javascript:;" class="clear">
              <!-- name -->
              <div class="name fl">切换身份</div>
              <!-- info -->
              <div class="info fr">牛人<span class="iconfont icon-iconfontjiantou4"></span></div>
            </a>
          </li>
      </nav>

      <a href="javascript:;" class="exit">退出登录</a>

    </div>
  </div>

</body>

</html>