<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boss 直聘</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/border.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/iconfont1.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/user.css">

  <script src="../static/js/flexible.js" defer></script>
  <script src="../static/js/zepto.js" defer></script>
  <script src="../static/js/iscroll-probe.js" defer></script>
  <script src="../static/js/mock.js" defer></script>
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/user.js" defer></script>
</head>

<body>
  <!-- headerWrap -->
  <header class="headerWrap clear">
    <!-- username -->
    <div class="username fl">千与千寻</div>
    <!-- iconsWrap -->
    <div class="iconsWrap fr">
      <!-- iconfont -->
      <span class="iconfont icon-saomiao"></span>
      <span class="iconfont icon-shezhi"></span>
    </div>
  </header>

  <!-- contentWrap -->
  <main class="contentWrap">
    <!-- content -->
    <div class="content clear">
      <!-- onlineResume  在线简历 -->
      <div class="onlineResume">
        <!-- edit 编辑 -->
        <p class="edit"><span class="iconfont icon-bianji"></span>我的在线简历</p>
        <!-- userAvar -->
        <div class="userAvar">
          <img src="../static/images/avar03.jpeg">
        </div>
        <!-- situation -->
        <nav class="situation">
          <li class="situ-item">
            <span class="num">166</span>
            <span class="category">沟通过</span>
          </li>
          <li class="situ-item">
            <span class="num">0</span>
            <span class="category">面试</span>
          </li>
          <li class="situ-item">
            <span class="num">28</span>
            <span class="category">已投简历</span>
          </li>
          <li class="situ-item">
            <span class="num">0</span>
            <span class="category">收藏</span>
          </li>
        </nav>
        <!-- vipCard -->
        <div class="vipCard">
          <h5><span class="vipLogo">VIP</span><span class="vipInfo">升级VIP专享超值权益</span><a href="javascript:;"
              class="link">去升级&nbsp;&gt;</a></h5>
          <p class="con">4项VIP专属权益，每天仅需3直豆</p>
        </div>
      </div>

      <!-- assitant 求职助手 -->
      <div class="assitantWrap">
        <!-- assi-title -->
        <div class="assi-title clear">
          <div class="title fl">求职助手</div>
          <div class="other fr">其他/钱包<span class="iconfont icon-iconfontjiantou4"></span></div>
        </div>
        <!-- utilsWrap -->
        <div class="utilsWrap">
          <!-- utils -->
          <nav class="utils clear">
            <!-- util-item -->
            <li class="util-item clear">
              <div class="con fl">
                <div class="util-title">建立刷新</div>
                <div class="util-info">提升简历活跃</div>
              </div>
              <div class="imgWrap fr">
                <img src="../static/images/add.jpg">
              </div>
            </li>
            <li class="util-item clear">
              <div class="con fl">
                <div class="util-title">竞争力分析器</div>
                <div class="util-info">洞悉职业竞争</div>
              </div>
              <div class="imgWrap fr">
                <img src="../static/images/avar01.jpg">
              </div>
            </li>
            <li class="util-item clear">
              <div class="con fl">
                <div class="util-title">职业测试</div>
                <div class="util-info">分析职业竞争力</div>
              </div>
              <div class="imgWrap fr">
                <img src="../static/images/avar02.jpg">
              </div>
            </li>
          </nav>

          <!-- categoryWrap -->
          <nav class="categoryWrap">
            <!-- cate-item -->
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-accessories fl"></span>
                <!-- name -->
                <div class="name fl">附件简历</div>
                <!-- info -->
                <div class="info fr">已上传1份 <span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-jiahao fl"></span>
                <!-- name -->
                <div class="name fl">管理求职意向</div>
                <!-- info -->
                <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-zhuye fl"></span>
                <!-- name -->
                <div class="name fl">个人主页</div>
                <!-- info -->
                <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-wenda fl"></span>
                <!-- name -->
                <div class="name fl">牛人问答</div>
                <!-- info -->
                <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-guanzhu fl"></span>
                <!-- name -->
                <div class="name fl">关注公司</div>
                <!-- info -->
                <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-biaoqian fl"></span>
                <!-- name -->
                <div class="name fl">提升简历爆光</div>
                <!-- info -->
                <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
            <li class="cate-item">
              <a href="javascript:;" class="clear">
                <!-- iconfont -->
                <span class="iconfont icon-bangzhu fl"></span>
                <!-- name -->
                <div class="name fl">帮助与反馈</div>
                <!-- info -->
                <div class="info fr"><span class="iconfont icon-iconfontjiantou4"></span></div>
              </a>
            </li>
          </nav>

          <!-- infoWrap -->
          <div class="infoWrap">
            <p><span>客服电话<i class="phone">400-065-5799</i></span> <span>工作时间<i class="time">9:30-18:30</i></span></p>
            <p>用户协议及隐私政策 <span class="line"></span> 营业执照 <span class="line"></span> 人才服务许可 <span class="line"></span>
              防骗指南</p>
            <p>首都网警</p>
          </div>

        </div>
      </div>
    </div>
  </main>

  <!-- footerWrap -->
  <footer class="footerWrap border-bottom border-top">
    <nav class="tabContent">
      <li class="tab-item">
        <a href="./jobs.html">
          <span class="iconfont icon-suoshuzhiwei"></span>
          <span class="con">职位</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./company.html">
          <span class="iconfont icon-gongsimingcheng"></span>
          <span class="con">公司</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./contract.html">
          <span class="iconfont icon-xiaoxi"></span>
          <span class="con unread">消息</span>
        </a>
      </li>
      <li class="tab-item">
        <a href="./user.html">
          <span class="iconfont icon-wode"></span>
          <span class="con">我的</span>
        </a>
      </li>
    </nav>
  </footer>
</body>

</html>