html {
  font-size: 100px;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
}
html body .headerWrap {
  width: 100%;
  height: 88px;
  line-height: 88px;
  background-color: #37c2bc;
  position: absolute;
  top: 0;
  left: 0;
}
html body .headerWrap .titleWrap {
  margin-left: 0.3rem;
  height: 88px;
}
html body .headerWrap .titleWrap .title-item {
  height: 88px;
  line-height: 88px;
  margin: 0 13px;
  float: left;
  font-size: 24px;
  color: #ade6e3;
  position: relative;
}
html body .headerWrap .titleWrap .title-item.now {
  color: #fff;
  font-size: 32px;
}
html body .headerWrap .titleWrap .unread:after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ff3744;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: -16px;
}
html body .headerWrap .iconWrap {
  height: 88px;
  line-height: 88px;
  margin-right: 0.3rem;
}
html body .headerWrap .iconWrap .iconfont {
  font-size: 32px;
  color: #fff;
}
html body .chat {
  width: 100%;
  position: absolute;
  top: 88px;
  bottom: 98px;
  background-color: #fff;
}
html body .chat .chatHead {
  width: 100%;
  height: 0.7rem;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #ccc;
}
html body .chat .chatHead .person {
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.24rem;
  color: #333;
  margin-left: 0.3rem;
}
html body .chat .chatHead .deal {
  height: 0.7rem;
  line-height: 0.7rem;
  margin-right: 0.3rem;
}
html body .chat .chatHead .deal span {
  font-size: 0.18rem;
  line-height: 0.18rem;
  display: inline-block;
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  color: #8d8d8d;
  margin: 0 0.04rem;
}
html body .chat .contentWrap {
  width: 100%;
  position: absolute;
  top: 0.7rem;
  bottom: 0;
  overflow: hidden;
}
html body .chat .contentWrap .content {
  padding: 0 0.3rem;
}
html body .chat .contentWrap .content .content-item {
  padding: 0.22rem 0;
  width: 100%;
}
html body .chat .contentWrap .content .content-item .imgWrap {
  width: 0.84rem;
  height: 0.84rem;
  border-radius: 50%;
}
html body .chat .contentWrap .content .content-item .imgWrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
html body .chat .contentWrap .content .content-item .infoWrap {
  width: 4.7rem;
  margin-left: 0.25rem;
}
html body .chat .contentWrap .content .content-item .infoWrap .title {
  width: 100%;
  position: relative;
  height: 0.3rem;
  line-height: 0.3rem;
}
html body .chat .contentWrap .content .content-item .infoWrap .title .name {
  font-size: 0.26rem;
  color: #333;
  font-weight: bold;
  vertical-align: middle;
}
html body .chat .contentWrap .content .content-item .infoWrap .title .info {
  color: #c3c3c3;
  font-size: 0.16rem;
  vertical-align: middle;
  margin-left: 0.1rem;
}
html body .chat .contentWrap .content .content-item .infoWrap .title .date {
  color: #c3c3c3;
  font-size: 0.16rem;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
}
html body .chat .contentWrap .content .content-item .infoWrap .words {
  margin-top: 0.22rem;
  font-size: 0.2rem;
  color: #c3c3c3;
  width: 4.04rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
html body .interact {
  width: 100%;
  position: absolute;
  top: 88px;
  bottom: 98px;
  display: none;
}
html body .interact .interactHead {
  height: 134px;
  position: absolute;
  top: 0;
  left: 0.3rem;
  right: 0.3rem;
}
html body .interact .interactHead .inter-item {
  float: left;
  margin-right: 0.46rem;
}
html body .interact .interactHead .inter-item .tag {
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.2rem;
  color: #d9d9d9;
}
html body .interact .interactHead .inter-item .tag.active {
  color: #333;
}
html body .interact .interactHead .inter-item .selection {
  position: absolute;
  left: 0;
  top: 0.64rem;
}
html body .interact .interactHead .inter-item .selection .selec-item {
  float: left;
  border: 1px solid #ccc;
  color: #333;
  padding: 0.17rem 0.27rem;
  margin-right: 0.1rem;
  border-radius: 0.04rem;
}
html body .interact .interactHead .inter-item .selection .selec-item.active {
  border: 1px solid #37c2bc;
  color: #37c2bc;
  background-color: #ebf9f8;
}
html body .interact .contentWrap {
  width: 100%;
  position: absolute;
  top: 134px;
  bottom: 0;
  background-color: #f5f5f6;
  overflow: hidden;
}
html body .interact .contentWrap .content {
  width: 100%;
}
html body .interact .contentWrap .content .cont-item {
  position: relative;
  padding: 0 0.3rem;
  background-color: #fff;
  overflow: hidden;
  margin-top: 0.12rem;
}
html body .interact .contentWrap .content .cont-item:nth-of-type(1) {
  margin-top: 0;
}
html body .interact .contentWrap .content .cont-item .title {
  font-size: 0.28rem;
  font-weight: bold;
  line-height: 0.28rem;
  color: #333;
  margin-top: 0.38rem;
}
html body .interact .contentWrap .content .cont-item .info {
  font-size: 0.22rem;
  line-height: 0.22rem;
  color: #333;
  margin-top: 0.2rem;
}
html body .interact .contentWrap .content .cont-item .infoTagsWrap {
  margin-top: 0.2rem;
}
html body .interact .contentWrap .content .cont-item .infoTagsWrap .infotag-item {
  float: left;
  padding: 0.1rem;
  background-color: #f5f5f5;
  color: #666;
  margin-right: 0.1rem;
  border-radius: 4px;
}
html body .interact .contentWrap .content .cont-item .userWrap {
  margin-top: 0.22rem;
  margin-bottom: 0.24rem;
}
html body .interact .contentWrap .content .cont-item .userWrap .userAvar {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 50%;
  vertical-align: middle;
}
html body .interact .contentWrap .content .cont-item .userWrap .userAvar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
html body .interact .contentWrap .content .cont-item .userWrap .userName {
  margin-left: 0.15rem;
  font-size: 0.2rem;
  vertical-align: middle;
}
html body .interact .contentWrap .content .cont-item .sarary {
  font-size: 0.20rem;
  color: #37c2bc;
  position: absolute;
  right: 0.3rem;
  top: 0.38rem;
}
html body .footerWrap {
  width: 100%;
  height: 98px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
html body .footerWrap .tabContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body .footerWrap .tabContent .tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
html body .footerWrap .tabContent .tab-item .iconfont {
  font-size: 0.34rem;
  color: #444;
  flex: 1;
}
html body .footerWrap .tabContent .tab-item .unread:after {
  content: "";
  position: absolute;
  top: 0;
  right: 48px;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background-color: #ff4f59;
}
html body .footerWrap .tabContent .tab-item .con {
  font-size: 0.20rem;
  color: #afafaf;
}
